<div class="strength-meter" [attr.data-strength-score]="score">
    <div class="strength-text">{{strengthText}}</div>
    <!-- <div class="strength-wrapper">
        <div class="strength-bars"></div>
    </div> -->
    <!-- <div class="strength-feedback" *ngFor="let item of feedbackArr">
        {{item.label}} <i class="fa" [ngClass]="item.status?'fa-check text-success' : 'fa-times text-danger'"></i>
    </div> -->
</div>
