.h3{
    font-size: 2.1rem;
    line-height: 1.25;
    font-weight: 400;
    padding: none;
}
.loginPage{
    width: 420px;
    height: 450px;
    margin-top: 20px;
    margin-left: -200px;
    left: 50%;
    position: fixed;
    border-radius: 7px;
    background-color: white;
}
.formElement{
    margin: 20px;
}

.fullscreen{
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto; 
    background-color: #f3f2ef;
}
.SignInButton{
    padding-top: 10px;
    padding-bottom: 2px;
    margin: 10px 60px 10px 60px;
    background-color: #0a66c2;
    border-radius: 20px;
}
.buttonText{
    color: white;
}
.text-danger{
    font-size: smaller;
    margin: none;
    margin-bottom: 0px;
}

.dark {
    background-color: #383838;
    color: white;
}

.errorMsg{
    position:absolute;
}