<div class="fullscreen" [ngClass]=" setDarkClass ? 'dark' : ''">
    <div class="container">
        <div class="text-center">
            <img height="3%" width="12%" src="../assets//Linkedin-Logo.png">
            <p class="h3">Make the most of your professional life</p>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="loginPage">
                    <form class="form-group" [formGroup]="form">
                        <div class="formElement">
                            <label style="color: #00000099;">Name</label><br>
                            <input required formControlName="fname" type="text" style="width: 100%;">
                            <p *ngIf="form?.controls?.fname.errors?.pattern" class="text-danger errorMsg">Enter Valid
                                First Name
                            </p>
                            <p *ngIf="form?.controls?.fname.errors?.required  && form?.controls?.fname.touched"
                                class="text-danger errorMsg">First Name is Required</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 text-secondary" style="padding-left: 30px;">
                                <label style="color: #00000099; font-size: smaller;">Technical Skills</label><br>
                                <ng-multiselect-dropdown required formControlName="skills" [data]="skills"
                                    [placeholder]="'Select Skills'" [settings]="dropdownSettings"
                                    (onSelect)="onSkillsSelect($event)" (onSelectAll)="onSkillsSelectAll($event)">
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="col-lg-6 text-secondary " style="padding-right: 30px;">
                                <label style="color: #00000099; font-size: smaller;">Developer</label><br>
                                <ng-multiselect-dropdown formControlName="type" [placeholder]="'Select Post'"
                                    [data]="developerType" [settings]="dropdownSettings"
                                    (onSelect)="onPostsSelect($event)" (onSelectAll)="onPostsSelectAll($event)">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <div class="formElement">
                            <label style="color: #00000099;">Email</label><br>
                            <input formControlName="email" required type="text" style="width: 100%;">
                            <p *ngIf="form?.controls?.email.errors?.pattern" class="text-danger errorMsg">Enter Valid
                                Email </p>
                            <p *ngIf="form?.controls?.email.errors?.required  && form?.controls?.email.touched"
                                class="text-danger errorMsg">Email is Required</p>
                        </div>
                        <div class="formElement">
                            <label style="color: #00000099;">Password</label><br>
                            <input id="PasswordEntry" #pass formControlName="password" required type="password"
                                matTooltip="Please use combination of keywords for strong password!!"
                                style="width: 100%;">
                            <!-- <strength-meter [value]="pass.value" (measure)="onStrengthChange($event)"></strength-meter> -->


                            <app-password-strength-meter class="text-danger" style="float: right;"
                                [password]="form?.controls?.password.value" (strengthChange)="onStrengthChange($event)">
                            </app-password-strength-meter>

                            <p style="margin:0px"
                                *ngIf="form?.controls?.password.errors?.required  && form?.controls?.password.touched"
                                class="text-danger">Password is Required</p>
                            <p *ngIf="form?.controls?.password.errors?.minlength" class="text-danger">Should be greater
                                than 5
                            </p>
                        </div>
                        <div class="SignInButton" style="cursor: pointer;">
                            <p class="text-center buttonText" required (click)="signIn()">Sign In</p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3">
                <button style="margin-top:20px;" class="btn btn-dark" (click)="toggleClass()">
                    {{status}}
                </button>
            </div>
        </div>
    </div>

</div>